.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.product h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.product p {
  font-size: 16px;
  color: white;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
.main {
  background-color: black;
}

.para {
  color: white;
  text-align: end;
}
